<div class="container">
    <div class="row">
        <div class="col-xs-5 col-middle">
            <h3>Предобработка:</h3>
            <table style="border: none">
                <tr>
                    <td> <h4>Plate:</h4></td>
                    <td><img class="plate" src="{1}img\\{2}\\plate\\plate.jpg"/></td>
                </tr>
                <tr>
                    <td><h4>Blur:</h4></td>
                    <td><img class="plate" src="{1}img\\{2}\\plate\\blur.jpg"/></td>
                </tr>
                <tr>
                    <td><h4>Canny:</h4></td>
                    <td><img class="plate" src="{1}img\\{2}\\plate\\canny.jpg"/></td>
                </tr>
                <tr>
                    <td><h4>Morph:</h4></td>
                    <td><img class="plate" src="{1}img\\{2}\\plate\\morph.jpg"/></td>
                </tr>
                <tr>
                    <td><h4>Threshold:</h4></td>
                    <td><img class="plate" src="{1}img\\{2}\\plate\\thresh.jpg"/></td>
                </tr>
            </table>

        </div>

        <div class="col-xs-7 col-middle">
            <h3>Сегментация:</h3>
            <table class="block" >
                <tr>
                    <td>&nbsp;</td>
                    <td><img class="sym" src="{1}img\\{2}\\sym\\1.jpg"/></td>
                    <td><img class="sym" src="{1}img\\{2}\\sym\\2.jpg"/></td>
                    <td><img class="sym" src="{1}img\\{2}\\sym\\3.jpg"/></td>
                    <td><img class="sym" src="{1}img\\{2}\\sym\\4.jpg"/></td>
                    <td><img class="sym" src="{1}img\\{2}\\sym\\5.jpg"/></td>
                    <td><img class="sym" src="{1}img\\{2}\\sym\\6.jpg"/></td>
                    <td><img class="sym" src="{1}img\\{2}\\sym\\7.jpg"/></td>
                    <td><img class="sym" src="{1}img\\{2}\\sym\\8.jpg"/></td>

                </tr>
                <tr>
                    <td>Ann:</td>
                        {4}
                </tr>
                <tr>
                    <td>Knn:</td>
                        {5}
                </tr>
                <tr>
                    <td>Svm:</td>
                        {6}
                </tr>
                <tr>
                    <td>Msp:</td>
                        {7}
                </tr>
                <tr>
                    <td>Com:</td>
                        {8}
                </tr>
            </table>

            <div class="wrap">
                <div class="fl wt">Результат: </div>
                <div class="fl">&nbsp;</div>
                <div class="fl"><span>{3}</span></div>
            </div>

        </div>
    </div>
</div>

{0}