<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Шаблон</title>
    <!-- Bootstrap -->
    <link href="{1}css\\bootstrap.min.css" rel="stylesheet">
	<link href="{1}css\\font-awesome.css" rel="stylesheet">
    <link href="{1}css\\style.css" rel="stylesheet">
</head>

<body>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="{1}js\\ajax.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{1}js\\bootstrap.min.js"></script>
		
	<div class="container">
        <div class="row">
            <div class="col-md-12 col-big">
               <span style="color:white; font-size: 90px;">Загрузка</span>
            </div>
        </div>
    </div>
{0}
</body>
</html>